#signupBtn {
    position: absolute;
    right: 70px;
    width: 35px;
    height: 35px;
    top: 2px;
    bottom: 0;
    margin: auto;
    overflow: hidden;
    transition: all 1s;
}

#signupBtn div {
    width: 100%;
    height: 100%;
}

#signupBtn div:nth-child(1) i {
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    height: max-content;
}

#signupBtn div:nth-child(1) h3 {
    width: 70px;
    left: 45px;
    top: 0;
    bottom: 0;
    margin: auto;
    height: max-content;
}

#signupBtn:hover {
    width: 110px;
    right: 70px;
    transition: all 1s;
}

#logoutBtn {
    position: absolute;
    right: 10px;
    width: 30px;
    height: 35px;
    top: 2px;
    bottom: 0;
    margin: auto;
    overflow: hidden;
    transition: all 1s;
    cursor: pointer;
}

#logoutBtn div {
    width: 100%;
    height: 100%;
}

#logoutBtn div:nth-child(1) i {
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    height: max-content;
}

#logoutBtn div:nth-child(1) h3 {
    left: 40px;
    top: 0;
    bottom: 0;
    margin: auto;
    height: max-content;
}

#logoutBtn:hover {
    width: 100px;
    right: 20px;
    transition: all 1s;
}

body > main > section {
    width: 100%;
    height: 92.5vh;
    background-color: rgb(233, 233, 233) !important;
}

body > main > #homeSection .textAndBtnContainer {
    position: absolute;
    inset: 0 0 0 0;
    margin: auto;
    width: 80%;
    height: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

body > main > #homeSection .textAndBtnContainer > .mainTopContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40%;
    position: relative;
}
body > main > #homeSection .textAndBtnContainer > .container .btnContainer {
    border: 2px solid white;
    transition: all 0.5s;
}

body > main > #homeSection .textAndBtnContainer > .container .btnContainer:hover {
    border: 2px solid yellow;
    transition: all 0.5s;
}

@keyframes social-pulse {
    0% {
        box-shadow: 0 0 8px #FFA500, inset 0 0 8px #FFA500;
    }
    50% {
        box-shadow: 0 0 8px #FFA500, inset 0 0 14px #c5bba9;
    }
    100% {
        box-shadow: 0 0 8px #FFA500, inset 0 0 8px #FFA500;
    }
}

body > main > #homeSection .social-links>a {
    position: relative;
    width:55px;
    height: 55px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    box-shadow: 0 0 20px 10px rgba(255, 255, 255, 0.05);
    margin: 0 30px;
    border-radius: 50%;
    background: linear-gradient(rgb(87, 82, 82), rgb(34, 32, 32));
    overflow: hidden;
    transition: transform 0.3s;
    animation: social-pulse 2s linear 1s infinite;
}

body > main > #homeSection .social-links>a>.fab {
    font-size: 20px;
    line-height: 60px;
    position: relative;
    z-index: 10;
    transition: color 0.3s;
}

body > main > #homeSection .social-links>a::after {
    content: "";
    width: 100%;
    height: 100%;
    top: -90px;
    left: 0;
    background: linear-gradient(-45deg, #ed1c94, #ffec17);
    position: absolute;
    transition: 0.3s;
}

body > main > #homeSection .social-links>a:hover:after {
    top: 0;
}

body > main > #homeSection .social-links>a:hover {
    transform: translateY(-10px);
}


/* Login Section Start*/
body > main > .login > div img {
    width: 60%;
}

body > main > .login > div:nth-child(1) {
    position: absolute;
    top: 0;
    bottom: unset;
    left: 0;
    right: unset;
    margin: unset;
    width: unset;
    height: unset;
    background-color: unset !important;
    border-radius: unset;
}

body > main > .login > div:nth-child(2) {
    position: absolute;
    top: 10%;
    left: 10%;
}

body > main > .login > div:nth-child(3) {
    position: absolute;
    top: 30%;
    left: 5%;
}

body > main > .login > div:nth-child(4) {
    position: absolute;
    top: 40%;
    left: 15%;
}

body > main > .login > div:nth-child(5) {
    position: absolute;
    top: 60%;
    left: 2%;
}

body > main > .login > div:nth-child(6) {
    position: absolute;
    top: 70%;
    left: 15%;
}

body > main > .login > div:nth-child(7) {
    position: absolute;
    top: 85%;
    left: 5%;
}

body > main > .login > div:nth-child(8) {
    position: absolute;
    top: 0%;
    left: 25%;
}

body > main > .login > div:nth-child(9) {
    position: absolute;
    top: 2%;
    left: 75%;
}

body > main > .login > div:nth-child(10) {
    position: absolute;
    top: 1%;
    left: 45%;
}

body > main > .login > div:nth-child(11) {
    position: absolute;
    top: 2%;
    left: 60%;
}

body > main > .login > div:nth-child(12) {
    position: absolute;
    top: 2%;
    left: 90%;
}

body > main > .login > div:nth-child(13) {
    position: absolute;
    top: 20%;
    left: 80%;
}

body > main > .login > div:nth-child(14) {
    position: absolute;
    top: 40%;
    left: 92%;
}

body > main > .login > div:nth-child(15) {
    position: absolute;
    top: 60%;
    left: 85%;
}

body > main > .login > div:nth-child(16) {
    position: absolute;
    top: 85%;
    left: 77%;
}

body > main > .login > div:nth-child(17) {
    position: absolute;
    top: 80%;
    left: 90%;
}

body > main > .login > div:nth-child(18) {
    position: absolute;
    top: 40%;
    left: 78%;
}

body > main > .login > div:nth-child(19) {
    position: absolute;
    top: 85%;
    left: 65%;
}

body > main > .login > div:nth-child(20) {
    position: absolute;
    top: 88%;
    left: 50%;
}

body > main > .login > div:nth-child(21) {
    position: absolute;
    top: 85%;
    left: 35%;
}

body > main > .login > div:nth-child(22) {
    position: absolute;
    top: 85%;
    left: 22%;
}

body > main > .login > .container-fluid > .row > .col > div > input:focus {
    border: 2px solid black;
    box-shadow: none;
}

body > main > .login > .container-fluid > .row > .col > div > label > span {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 100px;
    height: 30px;
}

/* Login Section End */


